:root {
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  padding-left: 25px;
}

/*----------Navigation bar-------*/
.navbar {
  background-color: rgb(170, 220, 168);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
  top: 0;
}

.navbar .item {
  padding: 30px;
}

.logo {
  height: 70px;
}

input {
  border-radius: 10px;
  height: 40px;
  width: 700px;
}

/*----------Home page-------*/
.home {
  margin-top: 120px;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.home ul {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 18px;
}

.home ul li {
  width: 200px;
}

/*----------Login/register page-------*/
.login-register-section {
  padding: 10px;
  margin: 120px auto;
  width: 30%;
}

/*----------Recipe Form---------*/
.recipe-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 120px auto;
  width: 50%;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

.recipe-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.recipe-form textarea {
  width: 100%;
  height: 115px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.recipe-form button {
  width: 100%;
  background-color: #749775;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
