:root {
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 120px 0px;
}

h1 {
  font-size: 30px;
  padding-left: 25px;
}

/*----------Navigation bar-------*/
.navbar {
  background-color: rgb(197, 233, 211);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
  top: 0;
}

.navbar .item {
  padding: 30px;
}

.logo {
  height: 70px;
}

input {
  border-radius: 10px;
  height: 40px;
  width: 700px;
}

/*----------Home page-------*/
.home {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.home #filters {
  list-style-type: none;
  margin: 0;
  padding: 0px 20px ;
  float: right;
  background-color: #ebebeb;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 18px;
}

.home ul li {
  width: 200px;
}

/*----------Login/register page-------*/
.login-register-section {
  padding: 10px;
  margin: auto;
  width: 30%;
}

/*----------Recipe Form---------*/
.recipe-form {
  padding: 10px;
  margin: auto;
  width: 50%;
}

.recipe-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.recipe-form textarea {
  width: 100%;
  height: 115px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.recipe-form button {
  width: 100%;
  background-color: #749775;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*----------Recipe Details---------*/
.library h1 {
  font-size: 30px;
  padding-left: 25px;
}

.library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Add this line */
  padding: 10px;
  margin: auto;
  width: 100%;
  overflow: auto;
}

.recipe-card {
  display: inline-block;
  border: solid 3px #aeaeae;
  border-radius: 10px;
  margin: 20px 5px 20px 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.recipe-card img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.recipe-card p {
  font-size: 15px;
  margin: 0;
  padding: 0;
}