/* navbar */
@media (max-width: 400px) {
  .navbar {
    padding: 0 20px;
    height: 80px;
  }

  .nav-left .logo {
    height: 20px;
  }

  .hamburger {
    display: block;
    font-size: 20px;
  }

  .nav-right {
    position: absolute;
    display: none;
    top: 80px;
    right: 0;
    padding: 20px;
    background-color: #E3F6EC;
    align-items: center;
  }

  .nav-right.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 0 0 12px 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: 80px;
    z-index: 99999;
  }

  .nav-right a,
  .nav-right button.logout {
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
  }
}



/*Login/Register Section */
@media screen and (max-width: 480px) {
  .login-register-section {
    width: 95%;
    padding: 10px 0;
  }

  .login-register-section h3 {
    font-size: 22px;
  }

  .login-register-section input {
    font-size: 14px;
    padding: 8px;
    margin: 15px;
  }

  .login-register-section button {
    font-size: 16px;
    padding: 10px;
  }

  .logo-title-container {
    height: auto;
    padding: 10px;
  }
}


/* Home Page */
@media (max-width: 768px) {
  .home-container {
    padding-top: 80px;
  }

  /* Stack searchbar and filters */
  .searchbar-filters-container {
    flex-direction: column;
  }

  .searchbar-wrapper, .filters {
    width: 100%;
  }

  .searchbar-wrapper input, .filters {
    font-size: 12px;
  }

  .filters {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .home-content {
    padding: 145px 0px;
  }

  .recipe-card {
    max-width: 120px;
    max-height: 120px;
  }

  .recipe-card p {
    font-size: 12px;
    height: 55%;
  }
}



/* Recipe Form */
@media (max-width: 768px) {
  .recipe-form {
    width: 90%;
    padding: 20px;
    max-height: calc(100vh - 110px);
  }

  .recipe-form h1 {
    font-size: 16px;
  }

  .recipe-form label {
    font-size: 12px;
  }

  .recipe-form input[type="text"],
  .recipe-form textarea,
  .recipe-form input[type="file"] {
    font-size: 10px;
    padding: 10px;
  }

  .recipe-form button {
    font-size: 14px;
    padding: 12px;
  }

  .recipe-form .section {
    flex-direction: column; 
  }

}